@use "../helpers/functions" as *;
@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

/* FONT */
html {
  font-size: 10px;
}

body {
  line-height: 1;
  font-family: "Pretendard";
  font-size: rem(20);
  font-weight: 400;
  font-style: normal;
  color: var(--gray-fore-100)
}
