/* RESET */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, button,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
select, option, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
*::after, *::before {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a, button {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  vertical-align: middle;
}

a,
button {
  cursor: pointer;
}

img {
  width: 100%;
}

/* STYLE */
html {
  font-size: 10px;
}

body {
  line-height: 1;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-fore-100);
}

.navbar {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: hsla(var(--pink-back-090), 0.7);
  color: hsla(var(--gray-fore-030), 0.7);
  padding: 1rem;
  border-radius: 2rem;
  z-index: 1000;
  opacity: 0.5;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar ul li {
  margin: 0 1rem;
}
.navbar ul li:hover {
  color: hsla(var(--pink-fore-030), 1);
}
.navbar ul li.active {
  color: hsla(var(--pink-fore-040), 1);
}

.overlapBox {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: hsl(var(--gray-back-100));
  border: 1px solid hsl(var(--pink-fore-050));
}
.overlapBox::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid hsl(var(--pink-fore-050));
  top: -1.25rem;
  right: -1.25rem;
  z-index: -1;
  background: hsl(var(--gray-back-100));
}
.overlapBox::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid hsl(var(--pink-fore-050));
  top: -2.5rem;
  right: -2.5rem;
  z-index: -2;
  background: hsl(var(--gray-back-100));
}

.frame-shadow-right {
  -webkit-filter: drop-shadow(4rem 4rem hsl(var(--pink-fore-010)));
          filter: drop-shadow(4rem 4rem hsl(var(--pink-fore-010)));
}
.frame-shadow-left {
  -webkit-filter: drop-shadow(-4rem 4rem hsl(var(--pink-fore-010)));
          filter: drop-shadow(-4rem 4rem hsl(var(--pink-fore-010)));
}