/* RESET */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, button,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
select, option, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
*::after, *::before {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

a, button,
select, option {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  vertical-align: middle;
}

img {
  width: 100%;
}

/* STYLE */
html {
  font-size: 10px;
}

body {
  line-height: 1;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  color: var(--gray-fore-100);
}

.font_rammettoOne {
  font-family: "RammettoOne";
}
.font_rampartOne {
  font-family: "RampartOne";
}
.font_cafe24Supermagic {
  font-family: "Cafe24Supermagic";
}

.boldUpper {
  font-weight: 600;
  color: hsl(var(--red-fore-040));
  text-transform: uppercase;
}

.caption {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.3;
  text-align: right;
  text-transform: capitalize;
}
.caption-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 0 0.5rem;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background: linear-gradient(110deg, hsla(var(--pink-back-080), 0.2), hsla(var(--pink-back-080), 0.2), hsla(var(--white), 1), hsla(var(--pink-back-080), 0.4), hsla(var(--pink-back-080), 0.4));
  background-position: 1% 0%;
  background-size: 400% 100%;
}
.caption-link:hover {
  color: hsl(var(--pink-fore-040));
  background-position: 100% 0%;
}

.doubleLineBox {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  color: hsl(var(--red-fore-030));
  line-height: 1.4;
  white-space: pre-line;
}
.doubleLineBox::before, .doubleLineBox::after {
  content: "";
  display: block;
  width: 7.3vw;
  border: 2px solid hsl(var(--pink-fore-050));
}
.doubleLineBox::before {
  margin: 0 auto 6rem;
}
.doubleLineBox::after {
  margin: 6rem auto 0;
}
.doubleLineBox.even > span {
  display: block;
}
.doubleLineBox.even > span:nth-child(even) {
  margin-bottom: 0.8rem;
}

.nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  color: hsla(var(--gray-fore-030), 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background-color: hsla(var(--pink-back-090), 0.5);
  border-radius: 2rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 1000;
}
.nav:hover {
  background-color: hsla(var(--pink-back-090), 1);
  -webkit-box-shadow: 0 0 1rem hsl(var(--gray-back-070));
          box-shadow: 0 0 1rem hsl(var(--gray-back-070));
  border: 1px solid hsl(var(--pink-back-080));
}
.nav.hide {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}
.nav.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-menu-btn {
  margin: 0 1rem;
}
.nav-menu-btn:hover {
  color: hsla(var(--pink-fore-030), 0.5);
}
.nav-menu-btn.active {
  color: hsla(var(--pink-fore-040), 1);
}

.tripleLayered {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: hsl(var(--gray-back-100));
  border: 1px solid hsl(var(--pink-fore-050));
  white-space: pre-line;
}
.tripleLayered::before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid hsl(var(--pink-fore-050));
  top: -1.25rem;
  right: -1.25rem;
  z-index: -1;
  background: hsl(var(--gray-back-100));
}
.tripleLayered::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid hsl(var(--pink-fore-050));
  top: -2.5rem;
  right: -2.5rem;
  z-index: -2;
  background: hsl(var(--gray-back-100));
}

.frameShadow_right {
  -webkit-filter: drop-shadow(4rem 4rem hsl(var(--pink-back-080)));
          filter: drop-shadow(4rem 4rem hsl(var(--pink-back-080)));
}
.frameShadow_left {
  -webkit-filter: drop-shadow(-4rem 4rem hsl(var(--pink-back-080)));
          filter: drop-shadow(-4rem 4rem hsl(var(--pink-back-080)));
}

.infoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 27vw;
  max-width: 51rem;
}
.infoBox-content {
  margin-left: 4rem;
  line-height: 1.4;
}
.infoBox-content::before {
  display: inline-block;
  content: url(../icons/pArrow-left.svg);
  padding-top: 3px;
  -webkit-transform: translate(-1rem, 3px);
          transform: translate(-1rem, 3px);
}
.infoBox-content::after {
  display: inline-block;
  content: url(../icons/pArrow-right.svg);
  padding-top: 3px;
  -webkit-transform: translate(1rem, 3px);
          transform: translate(1rem, 3px);
}