:root {
  --mobileS: $mobileS;
  --mobile: $mobile;
  --mobileL: $mobileL;
  --tabletS: $tabletS;
  --tablet: $tablet;
  --tabletL: $tabletL;
  --laptop: $laptop;
  --laptopL: $laptopL;
  --desktop: $desktop;
}

:root {
  --white: 0, 0%, 100%;
  --gray-fore-100: 0, 0%, 7%;
  --gray-fore-040: 0, 0%, 44%;
  --gray-fore-030: 0, 0%, 53%;
  --gray-fore-020: 0, 0%, 63%;
  --gray-back-100: 0, 0%, 100%;
  --gray-back-070: 0, 0%, 86%;
  --pink-fore-050: 340, 196%, 60%;
  --pink-fore-040: 339, 100%, 68%;
  --pink-fore-030: 338, 100%, 75%;
  --pink-fore-020: 338, 100%, 82%;
  --pink-fore-010: 337, 100%, 90%;
  --pink-back-100: 333, 100%, 98%;
  --pink-back-090: 336, 100%, 95%;
  --pink-back-080: 337, 100%, 90%;
  --pink-back-070: 338, 100%, 82%;
  --pink-back-060: 338, 100%, 75%;
  --pink-back-050: 339, 100%, 68%;
  --red-fore-040: 355, 100%, 68%;
  --red-fore-030: 355, 100%, 74%;
}

:root[color-theme=dark] {
  --gray-fore-100: 0, 0%, 100%;
  --gray-fore-040: 0, 0%, 63%;
  --gray-fore-030: 0, 0%, 53%;
  --gray-fore-020: 0, 0%, 44%;
  --gray-back-100: 0, 0%, 12%;
  --gray-back-070: 0, 0%, 25%;
  --pink-fore-050: 339, 100%, 68%;
  --pink-fore-040: 340, 196%, 60%;
  --pink-fore-030: 340, 71%, 49%;
  --pink-fore-020: 340, 78%, 42%;
  --pink-fore-010: 340, 80%, 34%;
  --pink-back-100: 340, 89%, 18%;
  --pink-back-090: 340, 91%, 25%;
  --pink-back-080: 340, 80%, 34%;
  --pink-back-070: 340, 78%, 42%;
  --pink-back-060: 340, 71%, 49%;
  --pink-back-050: 340, 196%, 60%;
  --red-fore-040: 356, 100%, 58%;
  --red-fore-030: 356, 100%, 50%;
}