:root {
  --mobileS: $mobileS;
  --mobile: $mobile;
  --mobileL: $mobileL;
  --tabletS: $tabletS;
  --tablet: $tablet;
  --tabletL: $tabletL;
  --laptop: $laptop;
  --laptopL: $laptopL;
  --desktop: $desktop;
}

:root {
  --white: 0, 0%, 100%;
  --gray-fore-100: 0, 0%, 7%;
  --gray-fore-090: 0, 0%, 12%;
  --gray-fore-080: 0, 0%, 16%;
  --gray-fore-070: 0, 0%, 21%;
  --gray-fore-060: 0, 0%, 25%;
  --gray-fore-050: 0, 0%, 35%;
  --gray-fore-040: 0, 0%, 44%;
  --gray-fore-030: 0, 0%, 53%;
  --gray-fore-020: 0, 0%, 63%;
  --gray-fore-010: 0, 0%, 72%;
  --gray-fore-000: 0, 0%, 82%;
  --gray-back-100: 0, 0%, 100%;
  --gray-back-090: 0, 0%, 95%;
  --gray-back-080: 0, 0%, 91%;
  --gray-back-070: 0, 0%, 86%;
  --gray-back-060: 0, 0%, 82%;
  --gray-back-050: 0, 0%, 72%;
  --gray-back-040: 0, 0%, 63%;
  --gray-back-030: 0, 0%, 53%;
  --gray-back-020: 0, 0%, 44%;
  --gray-back-010: 0, 0%, 35%;
  --gray-back-000: 0, 0%, 25%;
  --pink-fore-100: 340, 89%, 18%;
  --pink-fore-090: 340, 91%, 25%;
  --pink-fore-080: 340, 80%, 34%;
  --pink-fore-070: 340, 78%, 42%;
  --pink-fore-060: 340, 71%, 49%;
  --pink-fore-050: 340, 196%, 60%;
  --pink-fore-040: 339, 100%, 68%;
  --pink-fore-030: 338, 100%, 75%;
  --pink-fore-020: 338, 100%, 82%;
  --pink-fore-010: 337, 100%, 90%;
  --pink-fore-000: 336, 100%, 95%;
  --pink-back-100: 333, 100%, 98%;
  --pink-back-090: 336, 100%, 95%;
  --pink-back-080: 337, 100%, 90%;
  --pink-back-070: 338, 100%, 82%;
  --pink-back-060: 338, 100%, 75%;
  --pink-back-050: 339, 100%, 68%;
  --pink-back-040: 340, 196%, 60%;
  --pink-back-030: 340, 71%, 49%;
  --pink-back-020: 340, 78%, 42%;
  --pink-back-010: 340, 80%, 34%;
  --pink-back-000: 340, 91%, 25%;
  --red-fore-100: 357, 100%, 18%;
  --red-fore-090: 357, 100%, 27%;
  --red-fore-080: 357, 100%, 37%;
  --red-fore-070: 356, 100%, 43%;
  --red-fore-060: 356, 100%, 50%;
  --red-fore-050: 356, 100%, 58%;
  --red-fore-040: 355, 100%, 68%;
  --red-fore-030: 355, 100%, 74%;
  --red-fore-020: 355, 100%, 84%;
  --red-fore-010: 356, 100%, 90%;
  --red-fore-000: 354, 100%, 94%;
  --red-back-100: 353, 100%, 98%;
  --red-back-090: 354, 100%, 94%;
  --red-back-080: 356, 100%, 90%;
  --red-back-070: 355, 100%, 84%;
  --red-back-060: 355, 100%, 74%;
  --red-back-050: 355, 100%, 68%;
  --red-back-040: 356, 100%, 58%;
  --red-back-030: 356, 100%, 50%;
  --red-back-020: 356, 100%, 43%;
  --red-back-010: 357, 100%, 37%;
  --red-back-000: 357, 100%, 27%;
  --ylw-fore-100: 34, 95%, 17%;
  --ylw-fore-090: 34, 89%, 25%;
  --ylw-fore-080: 34, 85%, 34%;
  --ylw-fore-070: 34, 77%, 41%;
  --ylw-fore-060: 34, 70%, 48%;
  --ylw-fore-050: 34, 77%, 60%;
  --ylw-fore-040: 34, 83%, 70%;
  --ylw-fore-030: 34, 84%, 75%;
  --ylw-fore-020: 34, 86%, 81%;
  --ylw-fore-010: 34, 89%, 89%;
  --ylw-fore-000: 34, 100%, 95%;
  --ylw-back-100: 36, 100%, 98%;
  --ylw-back-090: 34, 100%, 95%;
  --ylw-back-080: 34, 89%, 89%;
  --ylw-back-070: 34, 86%, 81%;
  --ylw-back-060: 34, 84%, 75%;
  --ylw-back-050: 34, 83%, 70%;
  --ylw-back-040: 34, 77%, 60%;
  --ylw-back-030: 34, 70%, 48%;
  --ylw-back-020: 34, 77%, 41%;
  --ylw-back-010: 34, 85%, 34%;
  --ylw-back-000: 34, 89%, 25%;
}

:root[color-theme=dark] {
  --gray-fore-100: 0, 0%, 100%;
  --gray-fore-090: 0, 0%, 95%;
  --gray-fore-080: 0, 0%, 91%;
  --gray-fore-070: 0, 0%, 86%;
  --gray-fore-060: 0, 0%, 82%;
  --gray-fore-050: 0, 0%, 72%;
  --gray-fore-040: 0, 0%, 63%;
  --gray-fore-030: 0, 0%, 53%;
  --gray-fore-020: 0, 0%, 44%;
  --gray-fore-010: 0, 0%, 35%;
  --gray-fore-000: 0, 0%, 25%;
  --gray-back-100: 0, 0%, 12%;
  --gray-back-090: 0, 0%, 16%;
  --gray-back-080: 0, 0%, 21%;
  --gray-back-070: 0, 0%, 25%;
  --gray-back-060: 0, 0%, 35%;
  --gray-back-050: 0, 0%, 44%;
  --gray-back-040: 0, 0%, 53%;
  --gray-back-030: 0, 0%, 63%;
  --gray-back-020: 0, 0%, 72%;
  --gray-back-010: 0, 0%, 82%;
  --gray-back-000: 0, 0%, 86%;
  --pink-fore-100: 333, 100%, 98%;
  --pink-fore-090: 336, 100%, 95%;
  --pink-fore-080: 337, 100%, 90%;
  --pink-fore-070: 338, 100%, 82%;
  --pink-fore-060: 338, 100%, 75%;
  --pink-fore-050: 339, 100%, 68%;
  --pink-fore-040: 340, 196%, 60%;
  --pink-fore-030: 340, 71%, 49%;
  --pink-fore-020: 340, 78%, 42%;
  --pink-fore-010: 340, 80%, 34%;
  --pink-fore-000: 340, 91%, 25%;
  --pink-back-100: 340, 89%, 18%;
  --pink-back-090: 340, 91%, 25%;
  --pink-back-080: 340, 80%, 34%;
  --pink-back-070: 340, 78%, 42%;
  --pink-back-060: 340, 71%, 49%;
  --pink-back-050: 340, 196%, 60%;
  --pink-back-040: 339, 100%, 68%;
  --pink-back-030: 338, 100%, 75%;
  --pink-back-020: 338, 100%, 82%;
  --pink-back-010: 337, 100%, 90%;
  --pink-back-000: 336, 100%, 95%;
  --red-fore-100: 353, 100%, 98%;
  --red-fore-090: 354, 100%, 94%;
  --red-fore-080: 356, 100%, 90%;
  --red-fore-070: 355, 100%, 84%;
  --red-fore-060: 355, 100%, 74%;
  --red-fore-050: 355, 100%, 68%;
  --red-fore-040: 356, 100%, 58%;
  --red-fore-030: 356, 100%, 50%;
  --red-fore-020: 356, 100%, 43%;
  --red-fore-010: 357, 100%, 37%;
  --red-fore-000: 357, 100%, 27%;
  --red-back-100: 357, 100%, 18%;
  --red-back-090: 357, 100%, 27%;
  --red-back-080: 357, 100%, 37%;
  --red-back-070: 356, 100%, 43%;
  --red-back-060: 356, 100%, 50%;
  --red-back-050: 356, 100%, 58%;
  --red-back-040: 355, 100%, 68%;
  --red-back-030: 355, 100%, 74%;
  --red-back-020: 355, 100%, 84%;
  --red-back-010: 356, 100%, 90%;
  --red-back-000: 354, 100%, 94%;
  --ylw-fore-100: 36, 100%, 98%;
  --ylw-fore-090: 34, 100%, 95%;
  --ylw-fore-080: 34, 89%, 89%;
  --ylw-fore-070: 34, 86%, 81%;
  --ylw-fore-060: 34, 84%, 75%;
  --ylw-fore-050: 34, 83%, 70%;
  --ylw-fore-040: 34, 77%, 60%;
  --ylw-fore-030: 34, 70%, 48%;
  --ylw-fore-020: 34, 77%, 41%;
  --ylw-fore-010: 34, 85%, 34%;
  --ylw-fore-000: 34, 89%, 25%;
  --ylw-back-100: 34, 95%, 17%;
  --ylw-back-090: 34, 89%, 25%;
  --ylw-back-080: 34, 85%, 34%;
  --ylw-back-070: 34, 77%, 41%;
  --ylw-back-060: 34, 70%, 48%;
  --ylw-back-050: 34, 77%, 60%;
  --ylw-back-040: 34, 83%, 70%;
  --ylw-back-030: 34, 84%, 75%;
  --ylw-back-020: 34, 86%, 81%;
  --ylw-back-010: 34, 89%, 89%;
  --ylw-back-000: 34, 100%, 95%;
}