@use "../../helpers" as *;

.about {
  position: relative;
  width: 100vw;
  padding-bottom: 11rem;
  background: linear-gradient(
    180deg,
    hsl(var(--gray-back-100)) 20%,
    hsl(var(--pink-back-090)) 60%,
    hsl(var(--gray-back-100)) 100%
  );
  perspective: 30rem;

  &-profile {
    &Box1 {
      $box1W: 815;
      position: relative;
      width: vw($box1W);
      min-width: rem(280);
      padding-top: vh(227);
      margin-left: vw(120);

      p {
        @include position($b: rem(-20), $r: rem(-20));
        @include font($s: 180, $cr: hsl(var(--white)));
        word-break: keep-all;
      }

      .caption {
        @include position($b: rem(-80), $r: rem(-40));
      }

      .icon_smile {
        width: per(360, $box1W);
        @include position($b: rem(0), $l: rem(0));
        transform: translate(-20%, 105%);
      }

      .sparkle_hello {
        width: per(50, $box1W);
        @include position($b: rem(0), $r: rem(0));
        transform: translate(150%, 0%);
      }
    }

    &Box2 {
      $box2W: 600;
      position: relative;
      width: vw($box2W);
      min-width: 21rem;
      margin-left: auto;

      .bgImg {
        @include position($t: -45%, $l: -30%);
        width: per(300, $box2W);
        opacity: 0.6;
      }

      .fyi {
        @include position($b: -5%, $l: -22%);
        width: per(385, $box2W);
      }

      .sparkle_roseL {
        @include position($t: 0, $l: 0);
        width: per(364, $box2W);
        transform: translate(-80%, -100%);
      }
    }
  }

  &-keywords {
    width: fit-content;
    margin: 0 6vw 0 auto;
    @include font(
      $s: 40,
      $align: right,
      $ln: 1.5,
      $cr: hsl(var(--red-fore-030)),
      $trans: uppercase
    );
    white-space: pre-line;
    text-shadow: 4px 0 0 hsl(var(--white));
    transform: translateY(-3vw);
  }

  &-bgimg {
    &_top {
      width: vw(480);
      @include position($t: 0, $r: 0);
      opacity: 0.6;
    }

    &_bottom {
      $bgimgBottomW: 800;
      width: vw($bgimgBottomW);
      @include position($t: 50%, $l: 0);
      transform: translateY(15%);

      .caption {
        @include position($t: 35%, $r: 35%);
        transform: translateY(-50%);
      }

      .bgImg {
        opacity: 0.6;
      }

      .parkle_roseS {
        width: per(450, $bgimgBottomW);
        @include position($b: 0, $l: 0);
        transform: translate(vw(77), 120%);
      }
    }
  }
  &-infoBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: vw(518);

    &-content {
      margin-top: rem(5);
      margin-left: rem(40);
      line-height: 1.2;

      &::before,
      &::after {
        display: inline-block;
        content: "";
        width: rem(10);
        height: rem(16);
        background: url(../icons/arrow_red.svg) no-repeat center center;
        background-size: contain;
      }

      &::before {
        transform: translateX(-1rem);
      }
      &::after {
        transform: translateX(1rem) rotateY(180deg);
      }
    }

    @include laptop {
      .about-infoBox {
        width: 35vw;
      }
    }

    @include laptopL {
      .about-infoBox {
        width: 33vw;
      }
    }
  }
}
