@use "../../helpers" as *;

.project {
  position: relative;
  width: 100vw;
  background: linear-gradient(
    180deg,
    hsl(var(--gray-back-100)) 0%,
    hsla(var(--pink-back-090), 0.8) 30%,
    hsla(var(--pink-back-080), 0.6) 60%,
    hsl(var(--pink-back-080), 0.8) 100%
  );

  &-picture {
    position: relative;
    width: vw(1150);
    height: vh(756);
    outline: vw(20) solid hsla(var(--pink-back-060), 0.3);
    border: 2px solid hsl(var(--white));
    z-index: -2;
    overflow: hidden;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(var(--gray-fore-080), 0.1);
      background-blend-mode: multiply;
    }

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      object-fit: cover;

      &.active {
        opacity: 1;
      }
    }

    .font_rampartOne {
      position: absolute;
      bottom: vh(30);
      left: vw(20);
      @include font($s: 90, $cr: hsl(var(--white)));
      z-index: 10;
    }
  }

  &-detail {
    position: absolute;
    bottom: vh(-100);
    left: vw(653);

    .tripleLayered,
    .tripleLayered::before,
    .tripleLayered::after {
      background: linear-gradient(
        250deg,
        hsla(var(--gray-back-100), 0.1) 0%,
        hsl(var(--gray-back-100), 0.8) 40%
      );
    }

    .tripleLayered {
      width: vw(1000);
      height: vh(430);
      padding: vw(40);
    }

    &-wrap {
      position: relative;
      display: none;
      padding-bottom: 2rem;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;

      &.active {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
      }
    }
    &-title {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      @include font($s: 28, $wght: 600);
    }
    &-period {
      @include font($s: 20, $wght: 400, $cr: hsl(var(--gray-fore-040)));
    }
    &-role {
      margin: 1rem 0;
    }
    &-des {
      height: calc(100% - 7.5rem);
      overflow-y: clip;
      column-count: 2;
      column-gap: vw(30);
    }

    .caption {
      bottom: 0;
      left: 0;
    }
  }

  &-sparkle_double {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(100%, 100%);
    width: vw(105);
  }

  &-arrow_curved {
    width: 14.6vh;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-30%, 110%);
  }

  &-sparkle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: vw(43);
    transform: translate(-150%, 50%);
  }
}
