@use "../helpers" as *;

$lineMargin: rem(60);

.doubleLine {
  width: fit-content;
  @include font($align: center, $ln: 1.4, $cr: hsl(var(--red-fore-030)));
  white-space: pre-line;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 40%;
    border: 2px solid hsl(var(--pink-fore-050));
  }
  &::before {
    margin: 0 auto $lineMargin;
  }
  &::after {
    margin: $lineMargin auto 0;
  }

  &.even > div:nth-child(even) {
    margin-bottom: 0.8rem;
  }

  .active {
    @include font($wght: 600, $cr: hsl(var(--red-fore-030)));
  }

  @include tablet {
    $lineMargin: rem(40);
    &::before {
      margin: 0 auto $lineMargin;
    }
    &::after {
      margin: $lineMargin auto 0;
    }
  }
}
