@use "../helpers" as *;

.navbar {
  $text_opacity: 0.5;
  @include position($p: fixed, $t: 1rem, $r: 1rem);
  width: fit-content;
  background-color: hsla(var(--pink-back-090), $text_opacity);
  color: hsla(var(--gray-fore-030), $text_opacity);
  padding: 1rem;
  border-radius: 2rem;
  z-index: 1000;

  & ul {
    display: flex;
    justify-content: center;

    & button {
      margin: 0 1rem;

      &:hover {
        color: hsla(var(--pink-fore-030), $text_opacity);
      }

      &.active {
        color: hsla(var(--pink-fore-040), 1);
      }
    }
  }
}
