@use "../helpers" as *;

$distance: -2rem;

.tripleLayered {
  position: relative;
  width: max-content;
  background: hsl(var(--gray-back-100));
  border: 1px solid hsl(var(--pink-fore-050));
  white-space: pre-line;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid hsl(var(--pink-fore-050));
    top: $distance;
    right: $distance;
    z-index: -1;
    background: hsl(var(--gray-back-100));
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid hsl(var(--pink-fore-050));
    top: $distance * 2;
    right: $distance * 2;
    z-index: -2;
    background: hsl(var(--gray-back-100));
  }

  @include tablet {
    $distance: -1rem;

    &::before {
      top: $distance;
      right: $distance;
    }
    &::after {
      top: $distance * 2;
      right: $distance * 2;
    }
  }
}
