@use "sass:map";
@use "sass:list";

$colors: (
  gray0: #fff,
  gray1: #f8f8f8,
  gray2: #efefef,
  gray3: #ddd,
  gray4: #b5b5b5,
  gray5: #a0a0a0,
  gray6: #898989,
  gray7: #717171,
  gray8: #575757,
  gray9: #3e3a39,
  gray10: #000,
);

$gray0: map.get($colors, gray0);
$gray1: map.get($colors, gray1);
$gray2: map.get($colors, gray2);
$gray3: map.get($colors, gray3);
$gray4: map.get($colors, gray4);
$gray5: map.get($colors, gray5);
$gray6: map.get($colors, gray6);
$gray7: map.get($colors, gray7);
$gray8: map.get($colors, gray8);
$gray9: map.get($colors, gray9);
$gray10: map.get($colors, gray10);