@use "./helpers" as *;

//light theme
:root {
  // gray
  --gray-fore-100: hsl(#{color(gray-095)});
  --gray-fore-090: hsl(#{color(gray-090)});
  --gray-fore-080: hsl(#{color(gray-085)});
  --gray-fore-070: hsl(#{color(gray-080)});
  --gray-fore-060: hsl(#{color(gray-075)});
  --gray-fore-050: hsl(#{color(gray-070)});
  --gray-fore-040: hsl(#{color(gray-060)});
  --gray-fore-030: hsl(#{color(gray-050)});
  --gray-fore-020: hsl(#{color(gray-040)});
  --gray-fore-010: hsl(#{color(gray-030)});
  --gray-fore-000: hsl(#{color(gray-020)});
  
  --gray-back-100: hsl(#{color(gray-000)});
  --gray-back-090: hsl(#{color(gray-005)});
  --gray-back-080: hsl(#{color(gray-010)});
  --gray-back-070: hsl(#{color(gray-015)});
  --gray-back-060: hsl(#{color(gray-020)});
  --gray-back-050: hsl(#{color(gray-030)});
  --gray-back-040: hsl(#{color(gray-040)});
  --gray-back-030: hsl(#{color(gray-050)});
  --gray-back-020: hsl(#{color(gray-060)});
  --gray-back-010: hsl(#{color(gray-070)});
  --gray-back-000: hsl(#{color(gray-075)});

  // pink
  --pink-fore-100: hsl(#{color(pink-080)});
  --pink-fore-090: hsl(#{color(pink-075)});
  --pink-fore-080: hsl(#{color(pink-065)});
  --pink-fore-070: hsl(#{color(pink-060)});
  --pink-fore-060: hsl(#{color(pink-050)});
  --pink-fore-050: hsl(#{color(pink-040)});
  --pink-fore-040: hsl(#{color(pink-030)});
  --pink-fore-030: hsl(#{color(pink-025)});
  --pink-fore-020: hsl(#{color(pink-020)});
  --pink-fore-010: hsl(#{color(pink-010)});
  --pink-fore-000: hsl(#{color(pink-005)});
  
  --pink-back-100: hsl(#{color(pink-002)});
  --pink-back-090: hsl(#{color(pink-005)});
  --pink-back-080: hsl(#{color(pink-010)});
  --pink-back-070: hsl(#{color(pink-020)});
  --pink-back-060: hsl(#{color(pink-025)});
  --pink-back-050: hsl(#{color(pink-030)});
  --pink-back-040: hsl(#{color(pink-040)});
  --pink-back-030: hsl(#{color(pink-050)});
  --pink-back-020: hsl(#{color(pink-060)});
  --pink-back-010: hsl(#{color(pink-065)});
  --pink-back-000: hsl(#{color(pink-075)});

  // red
  --red-fore-100: hsl(#{color(red-080)});
  --red-fore-090: hsl(#{color(red-070)});
  --red-fore-080: hsl(#{color(red-065)});
  --red-fore-070: hsl(#{color(red-060)});
  --red-fore-060: hsl(#{color(red-050)});
  --red-fore-050: hsl(#{color(red-040)});
  --red-fore-040: hsl(#{color(red-030)});
  --red-fore-030: hsl(#{color(red-025)});
  --red-fore-020: hsl(#{color(red-015)});
  --red-fore-010: hsl(#{color(red-010)});
  --red-fore-000: hsl(#{color(red-005)});
  
  --red-back-100: hsl(#{color(red-002)});
  --red-back-090: hsl(#{color(red-005)});
  --red-back-080: hsl(#{color(red-010)});
  --red-back-070: hsl(#{color(red-015)});
  --red-back-060: hsl(#{color(red-025)});
  --red-back-050: hsl(#{color(red-030)});
  --red-back-040: hsl(#{color(red-040)});
  --red-back-030: hsl(#{color(red-050)});
  --red-back-020: hsl(#{color(red-060)});
  --red-back-010: hsl(#{color(red-065)});
  --red-back-000: hsl(#{color(red-070)});

  // yellow
  --ylw-fore-100: hsl(#{color(ylw-085)});
  --ylw-fore-090: hsl(#{color(ylw-075)});
  --ylw-fore-080: hsl(#{color(ylw-065)});
  --ylw-fore-070: hsl(#{color(ylw-060)});
  --ylw-fore-060: hsl(#{color(ylw-050)});
  --ylw-fore-050: hsl(#{color(ylw-040)});
  --ylw-fore-040: hsl(#{color(ylw-030)});
  --ylw-fore-030: hsl(#{color(ylw-025)});
  --ylw-fore-020: hsl(#{color(ylw-020)});
  --ylw-fore-010: hsl(#{color(ylw-010)});
  --ylw-fore-000: hsl(#{color(ylw-005)});
  
  --ylw-back-100: hsl(#{color(ylw-002)});
  --ylw-back-090: hsl(#{color(ylw-005)});
  --ylw-back-080: hsl(#{color(ylw-010)});
  --ylw-back-070: hsl(#{color(ylw-020)});
  --ylw-back-060: hsl(#{color(ylw-025)});
  --ylw-back-050: hsl(#{color(ylw-030)});
  --ylw-back-040: hsl(#{color(ylw-040)});
  --ylw-back-030: hsl(#{color(ylw-050)});
  --ylw-back-020: hsl(#{color(ylw-060)});
  --ylw-back-010: hsl(#{color(ylw-065)});
  --ylw-back-000: hsl(#{color(ylw-075)});

}


// dard theme
// @media (prefers-color-scheme: dark) {
  // html.dark {
    :root[color-theme=dark] {
      // gray
      --gray-fore-100: hsl(#{color(gray-000)});
      --gray-fore-090: hsl(#{color(gray-005)});
      --gray-fore-080: hsl(#{color(gray-010)});
      --gray-fore-070: hsl(#{color(gray-015)});
      --gray-fore-060: hsl(#{color(gray-020)});
      --gray-fore-050: hsl(#{color(gray-030)});
      --gray-fore-040: hsl(#{color(gray-040)});
      --gray-fore-030: hsl(#{color(gray-050)});
      --gray-fore-020: hsl(#{color(gray-060)});
      --gray-fore-010: hsl(#{color(gray-070)});
      --gray-fore-000: hsl(#{color(gray-075)});
  
      --gray-back-100: hsl(#{color(gray-090)});
      --gray-back-090: hsl(#{color(gray-085)});
      --gray-back-080: hsl(#{color(gray-080)});
      --gray-back-070: hsl(#{color(gray-075)});
      --gray-back-060: hsl(#{color(gray-070)});
      --gray-back-050: hsl(#{color(gray-060)});
      --gray-back-040: hsl(#{color(gray-050)});
      --gray-back-030: hsl(#{color(gray-040)});
      --gray-back-020: hsl(#{color(gray-030)});
      --gray-back-010: hsl(#{color(gray-020)});
      --gray-back-000: hsl(#{color(gray-015)});
  
      // pink
      --pink-fore-100: hsl(#{color(pink-002)});
      --pink-fore-090: hsl(#{color(pink-005)});
      --pink-fore-080: hsl(#{color(pink-010)});
      --pink-fore-070: hsl(#{color(pink-020)});
      --pink-fore-060: hsl(#{color(pink-025)});
      --pink-fore-050: hsl(#{color(pink-030)});
      --pink-fore-040: hsl(#{color(pink-040)});
      --pink-fore-030: hsl(#{color(pink-050)});
      --pink-fore-020: hsl(#{color(pink-060)});
      --pink-fore-010: hsl(#{color(pink-065)});
      --pink-fore-000: hsl(#{color(pink-075)});
  
      --pink-back-100: hsl(#{color(pink-080)});
      --pink-back-090: hsl(#{color(pink-075)});
      --pink-back-080: hsl(#{color(pink-065)});
      --pink-back-070: hsl(#{color(pink-060)});
      --pink-back-060: hsl(#{color(pink-050)});
      --pink-back-050: hsl(#{color(pink-040)});
      --pink-back-040: hsl(#{color(pink-030)});
      --pink-back-030: hsl(#{color(pink-025)});
      --pink-back-020: hsl(#{color(pink-020)});
      --pink-back-010: hsl(#{color(pink-010)});
      --pink-back-000: hsl(#{color(pink-005)});
  
      // red
      --red-fore-100: hsl(#{color(red-002)});
      --red-fore-090: hsl(#{color(red-005)});
      --red-fore-080: hsl(#{color(red-010)});
      --red-fore-070: hsl(#{color(red-015)});
      --red-fore-060: hsl(#{color(red-025)});
      --red-fore-050: hsl(#{color(red-030)});
      --red-fore-040: hsl(#{color(red-040)});
      --red-fore-030: hsl(#{color(red-050)});
      --red-fore-020: hsl(#{color(red-060)});
      --red-fore-010: hsl(#{color(red-065)});
      --red-fore-000: hsl(#{color(red-070)});
  
      --red-back-100: hsl(#{color(red-080)});
      --red-back-090: hsl(#{color(red-070)});
      --red-back-080: hsl(#{color(red-065)});
      --red-back-070: hsl(#{color(red-060)});
      --red-back-060: hsl(#{color(red-050)});
      --red-back-050: hsl(#{color(red-040)});
      --red-back-040: hsl(#{color(red-030)});
      --red-back-030: hsl(#{color(red-025)});
      --red-back-020: hsl(#{color(red-015)});
      --red-back-010: hsl(#{color(red-010)});
      --red-back-000: hsl(#{color(red-005)});
      
      // yellow
      --ylw-fore-100: hsl(#{color(ylw-002)});
      --ylw-fore-090: hsl(#{color(ylw-005)});
      --ylw-fore-080: hsl(#{color(ylw-010)});
      --ylw-fore-070: hsl(#{color(ylw-020)});
      --ylw-fore-060: hsl(#{color(ylw-025)});
      --ylw-fore-050: hsl(#{color(ylw-030)});
      --ylw-fore-040: hsl(#{color(ylw-040)});
      --ylw-fore-030: hsl(#{color(ylw-050)});
      --ylw-fore-020: hsl(#{color(ylw-060)});
      --ylw-fore-010: hsl(#{color(ylw-065)});
      --ylw-fore-000: hsl(#{color(ylw-075)});
  
      --ylw-back-100: hsl(#{color(ylw-085)});
      --ylw-back-090: hsl(#{color(ylw-075)});
      --ylw-back-080: hsl(#{color(ylw-065)});
      --ylw-back-070: hsl(#{color(ylw-060)});
      --ylw-back-060: hsl(#{color(ylw-050)});
      --ylw-back-050: hsl(#{color(ylw-040)});
      --ylw-back-040: hsl(#{color(ylw-030)});
      --ylw-back-030: hsl(#{color(ylw-025)});
      --ylw-back-020: hsl(#{color(ylw-020)});
      --ylw-back-010: hsl(#{color(ylw-010)});
      --ylw-back-000: hsl(#{color(ylw-005)});
    }
  // }

// }