$colors: (
  gray-000: '0, 0, 100%', //#ffffff
  gray-005: '0, 0, 95%', //#f3f3f3
  gray-010: '0, 0, 91%', //#e7e7e7
  gray-015: '0, 0, 86%', //#dbdbdb
  gray-020: '0, 0, 82%', //#d0d0d0
  gray-030: '0, 0, 72%', //#b8b8b8
  gray-040: '0, 0, 63%', //#a0a0a0
  gray-050: '0, 0, 53%', //#888888
  gray-060: '0, 0, 44%', //#717171
  gray-070: '0, 0, 35%', //#595959
  gray-075: '0, 0, 25%', //#414141
  gray-080: '0, 0, 21%', //#353535
  gray-085: '0, 0, 16%', //#2a2a2a
  gray-090: '0, 0, 12%', //#1e1e1e
  gray-095: '0, 0, 7%', //#121212
  gray-100: '0, 0, 0', //#000000

  pink-002: '333, 100%, 98%', //#FFF6FA
  pink-005: '336, 100%, 95%', //#FFE4EF
  pink-010: '337, 100%, 90%', //#FFCADE
  pink-020: '338, 100%, 82%', //#FFA4C5
  pink-025: '338, 100%, 75%', //#ff80ae
  pink-030: '339, 100%, 68%', //#FF5D96
  pink-040: '340, 196%, 60%', //#FB3878
  pink-050: '340, 71%, 49%', //#D5245F
  pink-060: '340, 78%, 42%', //#BE1750
  pink-065: '340, 80%, 34%', //#9C113F
  pink-075: '340, 91%, 25%', //#7C062E
  pink-080: '340, 89%, 18%', //#570521

  red-002: '353, 100%, 98%', //#FFF7F8
  red-005: '354, 100%, 94%', //#FFE0E3
  red-010: '356, 100%, 90%', //#FFCED1
  red-015: '355, 100%, 84%', //#FFADB4
  red-025: '355, 100%, 74%', //#FF7B85
  red-030: '355, 100%, 68%', //#FF5E6B
  red-040: '356, 100%, 58%', //#FF2A39
  red-050: '356, 100%, 50%', //#FF0011
  red-060: '356, 100%, 43%', //#DD000D
  red-065: '357, 100%, 37%', //#BB000A
  red-070: '357, 100%, 27%', //#8C0006
  red-080: '357, 100%, 18%', //#5C0004

  ylw-002: '36, 100%, 98%', //#FFFBF5
  ylw-005: '34, 100%, 95%', //#FFF5E8
  ylw-010: '34, 89%, 89%', //#FCE7CC
  ylw-020: '34, 86%, 81%', //#F8D3A4
  ylw-025: '34, 84%, 75%', //#F5C78C
  ylw-030: '34, 83%, 70%', //#F2BB75
  ylw-040: '34, 77%, 60%', //#E7A349
  ylw-050: '34, 70%, 48%', //#D28625
  ylw-060: '34, 77%, 41%', //#B97218
  ylw-065: '34, 85%, 34%', //#A05F0D
  ylw-075: '34, 89%, 25%', //#7A4607
  ylw-085: '34, 95%, 17%', //#532F02
)