@use "functions" as *;

// POSITION
@mixin position (
  $p: absolute,
  $t: null,
  $b: null,
  $l: null,
  $r: null
){
  @if (
  $p == absolute
  or $p == fixed
  or not $p == relative
  or not $p == static
  or not $p == inherit
  ) {
    position: $p;
    top: $t;
    bottom: $b;
    left: $l;
    right: $r;
  }
}

// FONT
@mixin font($s: '', $wght: '', $ln: '', $cr: '', $align: '') {
  @if($s != '') {font-size: rem($s);}
  @if($wght != '') {font-weight: $wght;}
  @if($ln != '') {line-height: $ln;}
  @if($cr != '') {color: $cr;}
  @if($align != '') {text-align: $align;}
  @content;
}
